/* Webfont インポート */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kosugi+Maru&family=Manrope:wght@600..800&display=swap');

/* root */
:root {
  /* 色系 */
  --primary-color: #00ff00;
  --sub-color: #80ff80;
  --dark-color: #008000;
  --text-color: #000000;
  --background-color: #efefef;

  --disabled-color: #aaaaaa;
}

* {
  box-sizing: border-box;
  font-size: 12pt;
  font-family: "Manrope", "Kosugi Maru", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

/* 全体 */
body {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  background-color: var(--background-color);
}


/* 見出し */
h2 {
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 0.25rem solid green;
  background-color: white;
  margin: 0.5rem;
}

/* 各種デフォルト */
ul {
  margin: 0.5rem;
}

li {
  margin: 0.5rem;
  margin-left: 1rem;
}

.no-link {
  font-size: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

div {
  width: 100%;
}

/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(180deg, var(--sub-color) 80%, rgba(0, 0, 0, 0));
  height: 4rem;
}

header h1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 0.25rem 0;
}

/* コンテナ */
#container {
  width: 100svw;
  height: calc(100svh - 4rem - 2rem);
  display: flex;
  flex-direction: row-reverse;
}

/* メイン */
main {
  width: 80%;
  overflow: scroll;
}

/* サイドバー */
#side {
  width: 20%;
  background-color: white;
  height: 100%;
} 

/* フッター */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  background-image: linear-gradient(0deg, var(--sub-color) 80%, rgba(0, 0, 0, 0));
}

/* flex box */
.flex {
  display: flex;
  justify-content: space-between;
}